.container {
    padding: auto;
    background-color: rgb(222, 235, 234);
}

.title {
    color: gray;
    margin-bottom: 40px;
}

.item_list {
    display: flex;
    flex-wrap: wrap;
}

.loading {
    text-align: center;
    font-weight: bold;
    color: grey;
    font-size: 32px;
}

.verdetalle {
    margin: 100px;
}

@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        background-color: lightblue;
        margin: 10px;
    }
    .item_list {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: repeat(2, 1fr);
    }
}